:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;


  --div1-color: rgb(115, 75, 97);
  --div2-color: rgb(205, 187, 147);
  --div3-color: rgb(228, 223, 223);
  --div4-color: rgb(246, 239, 243);
  --div5-color:  rgb(246, 239, 243);
  --div6-color: rgb(232, 192, 215);
  --div7-color: rgb(166, 132, 152);
  --div8-color: white;
  --div9-color: rgb(233, 195, 217);
  --div10-color:rgb(232, 192, 215);
  --light-color: rgba(248, 248, 248, 0.87);
  --font1-color: rgb(119, 34, 85);
  --font2-color: rgba(243, 243, 246, 0.87);
  --font3-color: rgb(226, 170, 40);
  --font4-color: rgb(220, 100, 220);
  --font5-color: rgb(230, 163, 230);
  --font6-color: rgb(243, 55, 55); 
}

body.dark-mode {
  --div1-color: rgb(177, 177, 177);
  --div2-color: rgba(21, 13, 68, 0.87);
  --div3-color: rgb(228, 223, 223);
  --div4-color: rgb(25, 26, 28);
  --div5-color: rgb(58, 59, 62);
  --div6-color: rgb(106, 107, 113);
  --div7-color: rgb(255, 255, 255);
  --div8-color: rgb(25, 26, 28);
  --div9-color: rgb(58, 59, 62);
  --div10-color: rgb(58, 59, 62);
  --light-color: rgba(236, 233, 255, 0.87);
  --background-color: white;
  --font1-color: rgba(247, 246, 252, 0.87);
  --font2-color: rgba(10, 6, 33, 0.87);
  --font3-color: rgb(226, 40, 40);
  --font4-color: rgb(220, 100, 220);
  --font5-color: rgb(230, 163, 230);
  --font6-color: rgb(243, 55, 55);
  font-synthesis: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--div4-color) 
}

